<h1>Remove Center</h1>
<div class="row justify-content-center">
    <div class="col-sm-4 text-left bg-white rounded shadow py-3">
        <form >
            <div class="form-group">
                <label for="centerId">Enter Center Id</label>
                <input type="text" class="form-control" id="centerId" name=centerId placeholder="Enter Center Id" required >
            <button class="btn btn-success" (click)="click()">RemoveCenter</button>
            </div>
        </form>
    </div>
</div>